
@{
    ViewBag.Title = "Giris";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page</title>

    <!-- Font Icon -->
 
</head>
<body>

    <div class="main">

        <h1>Sign In</h1>
        <div class="container">
            <div class="sign-up-content">
                <form method="POST" class="signup-form">
                    <h2 class="form-title">Login Page</h2>
                    

                   

                    <div class="form-textbox">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" />
                    </div>

                    <div class="form-textbox">
                        <label for="pass">Password</label>
                        <input type="password" name="pass" id="pass" />
                    </div>

                    

                    <div class="form-textbox">
                        <input type="submit" name="submit" id="submit" class="submit" value="Sign In" />
                    </div>
                </form>

                
            </div>
        </div>

    </div>


</body>
</html>

